@import '../../styles/_variables.scss';

.match-component{
  display: block;
  alignment: center;
  position: relative;
  width: 1800px;
  margin-top: 20px;
  background-color: $color-grey;
  height: 190rem;
  color: black;
}
