<app-subheader></app-subheader>
<div class="match">
  <div class="match__basic-info">
    <span><i class="far fa-calendar-alt"></i>  21.11.2011</span>
    <span><i class="fas fa-map-marked-alt"></i>  Krzemienica</span>
  </div>
  <div class="match__header">
    <span class="header__team--left">Jawor Krzemienica</span>
    <span class="header__result">1:2</span>
    <span class="header__team--right">Wisła Kraków</span>
  </div>
  <div class="match-goals">
    <app-match-goals></app-match-goals>
  </div>
  <div class="match-shots">
    <app-shots></app-shots>
  </div>
  <div class="match-cards">
    <app-match-cards></app-match-cards>
  </div>
  <div class="match-injuries">
    <app-match-injuries></app-match-injuries>
  </div>
</div>
