// TO USE THE VARIABLES IN OTHER SCSS FILES, PUT THIS IMPORT IN COMPONENT'S SCSS FILE: @import '../../styles/_variables.scss';

$font-size-header: 3rem;
$font-size-section-header: 2.2rem;
$font-size-header-secondary: 2rem;
$font-size-header-tertiary: 1.7rem;
$font-size-text: 1.5rem;
$font-size-small-text: 1.3rem;

$color-background-darker: #29292f;
$color-background: #38383E;
$color-dark-text: #6d6d75e8;
$color-grey: #888897;
$color-grey-light: #bdbdcc;
$color-light: #B2E2EC;
$color-bright: #daf9ff;
$color-tertiary: #67C7D4;
$color-secondary: #6495ED;

$color-filter-match: #845A6D;
$color-filter-player: #270722;
$color-filter-team: #010001;

$color-strong-ball: #FF5722;
$color-weak-ball: #FFC107;
$color-chosen-ball: #2E2E2E;
