// TO USE THE VARIABLES IN OTHER SCSS FILES, PUT THIS IMPORT IN COMPONENT'S SCSS FILE: @import '../../styles/_variables.scss';

$font-size-header: 3.5rem;
$font-size-header-secondary: 2.5rem;
$font-size-text: 2rem;

$color-background: #38383E;
$color-grey: #888897;
$color-grey-light: #bdbdcc;
$color-light: #B2E2EC;
$color-tertiary: #67C7D4;
$color-secondary: #6495ED;
