<div class="goals__header">Goals</div>
<div class="goals__container">
  <div class="goals__panel--left">
    <div class="goals__picture">
      <img src="../../../assets/img/body2.png" alt="injuries" class="goals__img">
    </div>
    <div class="goals__names">
      <span>1. Luis Suárez</span>
      <span>2. Sergio Ramos</span>
      <span>3. Sergio Ramos</span>
    </div>
  </div>
  <div class="goals__panel--right">
    <div class="goals__picture">
      <img src="../../../assets/img/body3.png" alt="injuries" class="goals__img">
    </div>
    <div class="names">
      <div>1. Lionel Messi</div>
    </div>
  </div>
</div>
