<div class="goals__header">Goals by body parts</div>
<div class="goals__container">
  <div class="goals__panel--left">
    <div class="goals__names">
      <button mat-stroked-button (click)="chanePictureLeft($event)" id="shooter1">Luis Suárez</button>
      <button mat-stroked-button (click)="chanePictureLeft($event)" id="shooter4">N'Golo Kante</button>
    </div>
    <div class="goals__picture">
      <img src="../../../assets/img/goals/0.png" alt="injuries" class="goals__img">
    </div>
  </div>
  <div class="goals__panel--right">
    <div class="goals__picture">
      <img src="../../../assets/img/goals/0.png" alt="injuries" class="goals__img">
    </div>
    <div class="goals__names">
      <button mat-stroked-button (click)="changePictureRight($event)" id="shooter2">Lionel Messi</button>
      <button mat-stroked-button (click)="changePictureRight($event)" id="shooter3">Samuel Umtiti</button>
    </div>
  </div>
</div>
