<div class="match-goals">
  <div class="match_date_location">
    <div>Date: 21.11.2011</div>
    <div>Location: Krzemienica</div>
  </div>
  <div class="container-team-names" id="container">
    <div class="column-center">
      <h1>1:2</h1>
    </div>
    <div class="column-left">
      <h1>Jawor Krzemienica</h1>
    </div>
    <div class="column-right">
      <h1>Wisła Kraków</h1>
    </div>
  </div>
  <div class="title">
    Goals
  </div>
  <div class="images-container">
    <div class="column-left">
      <img src="../../../assets/img/body2.png" alt="" width="220" height="250">
      <div class="names">
        <div>1. Luis Suárez</div>
        <div>2. Sergio Ramos</div>
        <div>3. Sergio Ramos</div>
      </div>

    </div>
    <div class="column-right">
      <img src="../../../assets/img/body3.png" alt="" width="220" height="250">
      <div class="names">
        <div>1. Lionel Messi</div>
      </div>
    </div>
  </div>
</div>

