@import '../../styles/_variables.scss';

:host {
  width: 100%;
}

.filter {


  &__title {
    font-size: $font-size-header-secondary;
    text-align: left;
    padding-left: 2rem;
    border-bottom: 1px solid;
  }

  &__subtitle {
    font-size: $font-size-header-tertiary;
  }
}

mat-grid-tile {
  border-left: 1px solid $color-grey-light;
  border-right: 1px solid $color-grey-light;
  border-bottom: 1px solid $color-grey-light;
  border-top: 1px solid $color-grey-light;
  font-size: $font-size-small-text;
}

mat-grid-tile.no-top-border {
  border-top: none;
}

mat-grid-tile.no-bottom-border {
  border-bottom: none;
}



// TODO  te dwa nie dzialaja, jedynie inline'owo dzialaja w inspektorze
label {
  color: white !important;
}
span {
  color: white;
}

//.example-form-field {
//  width: 200px;
//}
