<h2 class="filter__title u-margin-top-medium u-margin-bottom-small">Filter</h2>
<!--<mat-form-field class="example-form-field">-->
<!--  <input matInput type="text" placeholder="Clearable input" [(ngModel)]="value">-->
<!--  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">-->
<!--    <mat-icon>close</mat-icon>-->
<!--  </button>-->
<!--</mat-form-field>-->

<mat-grid-list cols="3" rowHeight="100px">
  <mat-grid-tile [colspan]="1" [rowspan]="1" class="filter__subtitle">Match</mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" class="filter__subtitle">Player</mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" class="filter__subtitle">Team</mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2">2</mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">3</mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">4</mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">5</mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="1">6</mat-grid-tile>
</mat-grid-list>
