@import '../../styles/_variables.scss';

:host {
  width: 100%;
}

.filter {
  &__title {
    font-size: $font-size-header-secondary;
    text-align: left;
    padding-left: 2rem;
    border-bottom: 1px solid;
  }

  &__subtitle {
    font-size: $font-size-header-tertiary;
  }
}

mat-grid-tile {
 // border: 1px solid $color-grey-light;
  font-size: $font-size-small-text;
}

mat-grid-tile.no-top-border {
  border-top: none;
}

mat-grid-tile.no-bottom-border {
  border-bottom: none;
}

mat-grid-tile.no-left-border {
  border-left: none;
}

mat-grid-tile.no-right-border {
  border-right: none;
}

figure.mat-figure {
  font-weight: 500;
}

//.example-form-field {
//  width: 200px;
//}

.apply-filter-button {
  span {
    font-size: $font-size-section-header !important;
  }
}

.match-title, .match-filters {
  background: $color-filter-match;
}

.player-title, .player-filters {
  background: $color-filter-player;
}

.team-title, .team-filters {
  background: $color-filter-team;
}

.player-team-filters {
  background: #13060e;
}

.match-player-team-filters {
  background-image: linear-gradient(to right bottom, #845A6D, #010001);
}

// background-image: linear-gradient(to left, #f6865529, #61c3592e);
