<div class="shots__header u-margin-top-big">Shots on a goal</div>
<div class="shots__container">
  <div class="shots__upper">
    <span class="shots__upper--left shots__upper--header">Jawor Krzemienica <mat-icon>arrow_forward</mat-icon></span>
    <div class="shots__upper--middle">
      <button mat-button class="empty-ground__button" (click)="toggleTeam()">
        <img class="empty-ground__img" src="assets/img/half-ground.png" alt="groud">
        <mat-icon class="empty-ground__icon">mouse</mat-icon>
      </button>
    </div>
    <span class="shots__upper--right shots__upper--header darken-header"><mat-icon>arrow_back</mat-icon> Wisła Kraków &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  </div>
  <div class="shots__bottom">
    <div class="shots__timeline">
      <img src="../../../assets/img/arrow-down.png" alt="" class="shots__timeline--arrow">

      <button mat-button id="ball1-timeline-team1" class="ball-button ball-button-timeline" (click)="ballOnClick($event)">
        <span>&nbsp;</span> <i class="fas fa-futbol ball"></i>
      </button>
      <button mat-button id="ball2-timeline-team1" class="ball-button ball-button-timeline" (click)="ballOnClick($event)">
        <span>&nbsp;</span> <i class="fas fa-futbol ball"></i>
      </button>
      <button mat-button id="ball3-timeline-team1" class="ball-button ball-button-timeline" (click)="ballOnClick($event)">
        <span>&nbsp;</span> <i class="fas fa-futbol ball"></i>
      </button>
      <button mat-button id="ball4-timeline-team1" class="ball-button ball-button-timeline" (click)="ballOnClick($event)">
        <span>&nbsp;</span> <i class="fas fa-futbol ball"></i>
      </button>
      <button mat-button id="ball5-timeline-team1" class="ball-button ball-button-timeline" (click)="ballOnClick($event)">
        <span>&nbsp;</span> <i class="fas fa-futbol ball"></i>
      </button>
      <button mat-button id="ball6-timeline-team1" class="ball-button ball-button-timeline" (click)="ballOnClick($event)">
        <span>&nbsp;</span> <i class="fas fa-futbol ball"></i>
      </button>
      <button mat-button id="ball7-timeline-team1" class="ball-button ball-button-timeline" (click)="ballOnClick($event)">
        <span>&nbsp;</span> <i class="fas fa-futbol ball"></i>
      </button>
      <button mat-button id="ball8-timeline-team1" class="ball-button ball-button-timeline" (click)="ballOnClick($event)">
        <span>&nbsp;</span> <i class="fas fa-futbol ball"></i>
      </button>
      <button mat-button id="ball9-timeline-team1" class="ball-button ball-button-timeline" (click)="ballOnClick($event)">
        <span>&nbsp;</span> <i class="fas fa-futbol ball"></i>
      </button>
    </div>
    <div class="shots__goal">
      <img src="../../../assets/img/shots-on-goal.png" alt="" class="shots__goal--img">
      <button mat-button id="ball1" class="ball-button" (click)="ballOnClick($event)">
        <i class="fas fa-futbol ball"></i>
      </button>
      <button mat-button id="ball2" class="ball-button" (click)="ballOnClick($event)">
        <i class="fas fa-futbol ball"></i>
      </button>
      <button mat-button id="ball3" class="ball-button" (click)="ballOnClick($event)">
        <i class="fas fa-futbol ball"></i>
      </button>
      <button mat-button id="ball4" class="ball-button" (click)="ballOnClick($event)">
        <i class="fas fa-futbol ball"></i>
      </button>
      <button mat-button id="ball5" class="ball-button" (click)="ballOnClick($event)">
        <i class="fas fa-futbol ball"></i>
      </button>
      <button mat-button id="ball6" class="ball-button" (click)="ballOnClick($event)">
        <i class="fas fa-futbol ball"></i>
      </button>
      <button mat-button id="ball7" class="ball-button" (click)="ballOnClick($event)">
        <i class="fas fa-futbol ball"></i>
      </button>
      <button mat-button id="ball8" class="ball-button" (click)="ballOnClick($event)">
         <i class="fas fa-futbol ball"></i>
      </button>
      <button mat-button id="ball9" class="ball-button" (click)="ballOnClick($event)">
         <i class="fas fa-futbol ball"></i>
      </button>
    </div>
    <div class="shots__timeline hidden">
      <img src="../../../assets/img/arrow-down.png" alt="" class="shots__timeline--arrow">
      <button mat-button id="ball1-timeline-team2" class="ball-button ball-button-timeline" (click)="ballOnClick($event)">
        <i class="fas fa-futbol ball"></i> <span>&nbsp;</span>
      </button>
      <button mat-button id="ball2-timeline-team2" class="ball-button ball-button-timeline" (click)="ballOnClick($event)">
        <i class="fas fa-futbol ball"></i> <span>&nbsp;</span>
      </button>
      <button mat-button id="ball3-timeline-team2" class="ball-button ball-button-timeline" (click)="ballOnClick($event)">
        <i class="fas fa-futbol ball"></i> <span>&nbsp;</span>
      </button>
      <button mat-button id="ball4-timeline-team2" class="ball-button ball-button-timeline" (click)="ballOnClick($event)">
        <i class="fas fa-futbol ball"></i> <span>&nbsp;</span>
      </button>
      <button mat-button id="ball5-timeline-team2" class="ball-button ball-button-timeline" (click)="ballOnClick($event)">
        <i class="fas fa-futbol ball"></i> <span>&nbsp;</span>
      </button>
      <button mat-button id="ball6-timeline-team2" class="ball-button ball-button-timeline" (click)="ballOnClick($event)">
        <i class="fas fa-futbol ball"></i> <span>&nbsp;</span>
      </button>
      <button mat-button id="ball7-timeline-team2" class="ball-button ball-button-timeline" (click)="ballOnClick($event)">
        <i class="fas fa-futbol ball"></i> <span>&nbsp;</span>
      </button>
      <button mat-button id="ball8-timeline-team2" class="ball-button ball-button-timeline" (click)="ballOnClick($event)">
        <i class="fas fa-futbol ball"></i> <span>&nbsp;</span>
      </button>
      <button mat-button id="ball9-timeline-team2" class="ball-button ball-button-timeline" (click)="ballOnClick($event)">
        <i class="fas fa-futbol ball"></i> <span>&nbsp;</span>
      </button>
    </div>
  </div>
</div>
