@import '../../../styles/_variables.scss';

.shots {
  padding-top: 8rem;

  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
  }

  &__header {
    font-size: $font-size-header-secondary;
    text-align: left;
    border-bottom: 1px solid;
  }

  &__upper {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: $font-size-header-tertiary;
    }

    &--left {
      padding-right: 2rem;
    }

    &--middle {
      width: 15%;
      position: relative;
      .empty-ground__img {
        width: 100%;
      }

      .empty-ground__icon {
        position: absolute;
        top: 2rem;
        right: 50%;
        font-size: 5rem;
        color: black;
      }
    }

    &--right {
      padding-left: 2rem;
    }
  }

  &__bottom {
    display: flex;
    padding-top: 5rem;

    .ball-button {
      position: absolute;
    }

    .shots__timeline {
      position: relative;
      width: 20%;
      display: flex;
      padding-left: 2rem;

      button {
        font-size: $font-size-small-text;
      }
    }

    .shots__goal {
      width: 60%;
      position: relative;

      &--img {
        width: 100%;
      }

      .ball {
        font-size: 2.5rem;
        color: $color-weak-ball;
      }

      #ball9 i, #ball3 i {
        color: $color-strong-ball;
      }

      .ball-chosen {
        color: $color-chosen-ball !important;
        font-size: 5rem;
        transform: translate(-1rem, -1rem);
      }
    }
  }
}

.darken-header {
  color: $color-dark-text;
}

.hidden {
  visibility: hidden;
}

.timeline-ball-chosen {
  color: $color-weak-ball;
  font-size: 3rem;
}
