@import '../../../styles/_variables.scss';

.shots {
  padding-top: 8rem;

  &__container {
    display: flex;
    padding-top: 4rem;
  }

  &__header {
    font-size: $font-size-header-secondary;
    text-align: left;
    border-bottom: 1px solid;
  }

  &__upper {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    &--left {
      padding-right: 2rem;
    }

    &--middle {
      width: 15%;
      position: relative;
      .empty-ground__img {
        width: 100%;
      }

      .empty-ground__icon {
        position: absolute;
        top: 2rem;
        right: 50%;
        font-size: 5rem;
        color: black;
      }
    }

    &--right {
      padding-left: 2rem;
    }
  }

  &__bottom {

    .shots__timeline {

      &--left {

      }

      &--right {

      }
    }

    .shots__goal {

    }
  }
}

.darken-header {
  color: $color-dark-text;
}
