@import '../styles/_variables.scss';
@import '../styles/abstract/_mixins.scss';

.custom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 80vw;
  font-size: $font-size-header;

  background-image: linear-gradient(to left, #f6865529, #61c3592e);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10rem;
  padding-right: 5rem;

  border: 1px solid grey;
  border-width: 1px 0 1px;

  @include respond(phone) {
    width: 100vw;
    flex-direction: column;
    padding: 0;
  }

  &__title {
    font-size: $font-size-header;
    width: 60%;
    text-align: left;

    @include respond(phone) {
      width: 100%;
      text-align: center;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;

    @include respond(phone) {
      width: 100%;
      text-align: center;
    }
  }

  &__search {

    input {
      color: $color-tertiary;
    }

    &--icon {
      font-size: 4rem;
    }
  }

  &__contact--icon {
    font-size: 4rem;
  }

  &__home--icon {
    font-size: 4rem;
  }
}

.hidden {
  display: none;
}
