<div class="container" style="text-align:center">
  <div class="header u-margin-top-huge u-margin-bottom-large">
    <h1 class="header__title">JUPAG SPORT</h1>
    <div class="header__menu">
      <div class="form-group header__search">
        <input type="text" class="form-control" id="search"
               required
               [(ngModel)]="searchField" name="search"
               #search="ngModel">
      </div>
      <button class="header__search--button"><i class="fas fa-search"></i></button>
      <button class="header__contact"><i class="fas fa-envelope"></i></button>
    </div>
  </div>

  <app-search></app-search>
  <router-outlet></router-outlet>
</div>


