@import '../../styles/_variables.scss';

.home-card {
  height: 60rem;
  background: $color-tertiary;
  color: white;
  border-radius: 5px;

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: $font-size-header-secondary;
  }

  &__links {
    font-size: $font-size-text;
  }


}
