@import '../../../styles/_variables.scss';

.cards {

  &__container {
    display: flex;
    padding-top: 4rem;
  }

  &__header {
    font-size: $font-size-header-secondary;
    text-align: left;
    border-bottom: 1px solid;
    padding-top: 10rem;
  }

  &__panel--left {
    border-right: 1px solid;
  }

  &__panel--left, &__panel--right {
    width: 50%;
  }

  &__img {
    &--container {
      padding-bottom: 4rem;
    }

    &--arrow {
      width: 50%;
    }

    &--card {

    }
  }

  &__description-container {
    display: flex;
    flex-direction: column;
  }
}
