<div class="match-cards">
  <div class="title">
    Cards
  </div>
  <div class="container-cards">
    <div class="column-left">
      <div class="line">
        <img src="../../../assets/img/down.png" alt="">
        <br>
        <div>Red cards: 1</div>
        <div>Yellow cards: 2</div>
      </div>
      <div class="card">
        <div class="single-card">
          <img src="../../../assets/img/card.png" alt="" width="225" height="150">
        </div>
        <div class="single_match">
          <img src="../../../assets/img/card-match.png" alt="" width="225" height="150">
        </div>
      </div>
    </div>
    <div class="column-right">
      <div class="card">
        <div class="single-card">
          <img src="../../../assets/img/card.png" alt="" width="225" height="150">
        </div>
        <div class="single_match">
          <img src="../../../assets/img/card-match.png" alt="" width="225" height="150">
        </div>
      </div>
      <div class="line">
        <img src="../../../assets/img/down2.png" alt="">
        <br>
        <div>Red cards: 0</div>
        <div>Yellow cards: 1</div>
      </div>

    </div>
    </div>
  </div>
<!--  <br/>-->
<!--  <div class="container">-->
<!--    <div class="column-left">-->
<!--      <div class="container" id="inner-left">-->
<!--        <div class="column-left">-->
<!--          <img src="../../../assets/img/down.png" alt="a">-->
<!--        </div>-->
<!--        <div class="column-right" id="left-card">-->
<!--          <div id="rectangle-card">-->
<!--            <div style="alignment: center">-->
<!--              Antoine Griezman-->
<!--              Chelsea : Chelsea-->
<!--            </div>-->
<!--          </div>-->
<!--          <br>-->
<!--          <div id="rectangle-match"></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="column-right">-->
<!--      <div class="container" id="inner-right">-->
<!--        <div class="column-left">-->
<!--          <div id="rectanle-match"></div>-->
<!--          <br>-->
<!--          <div id="rectangle-match-bigger"></div>-->
<!--        </div>-->
<!--        <div class="column-right">-->
<!--          <img src="../../../assets/img/down.png" alt="a">-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->



