<<div class="match-cards">
  <h1>Cards</h1>
  <br/>
  <div class="container">
    <div class="column-left">
      <div class="container" id="inner-left">
        <div class="column-left">
          <img src="../../../assets/img/down.png" alt="a">
        </div>
        <div class="column-right" id="left-card">
          <div id="rectangle-card">
            <div style="alignment: center">
              Antoine Griezman
              Chelsea : Chelsea
            </div>
          </div>
          <br>
          <div id="rectangle-match"></div>
        </div>
      </div>
    </div>
    <div class="column-right">
      <div class="container" id="inner-right">
        <div class="column-left">
          <div id="rectanle-match"></div>
          <br>
          <div id="rectangle-match-bigger"></div>
        </div>
        <div class="column-right">
          <img src="../../../assets/img/down.png" alt="a">

        </div>
      </div>
    </div>

  </div>

</div>

