<div class="cards__header">Cards</div>
<div class="cards__container">
  <div class="cards__panel--left">
    <div class="cards__img--container">
      <img src="../../../assets/img/down.png" alt="" class="cards__img--arrow">
      <img src="../../../assets/img/cards_card.png" alt="" class="cards__img--card">
    </div>
    <div class="cards__description-container">
      <span>Red cards: 1</span>
      <span>Yellow cards: 2</span>
    </div>
  </div>
  <div class="cards__panel--right">
    <div class="cards__img--container">
      <img src="../../../assets/img/cards_card.png" alt="" class="cards__img--card">
      <img src="../../../assets/img/down2.png" alt="" class="cards__img--arrow">
    </div>
    <div class="cards__description-container">
      <span>Red cards: 1</span>
      <span>Yellow cards: 2</span>
    </div>
  </div>
</div>
