<!--<button mat-icon-button routerLink="home" class="subheader__home">-->
<!--  <mat-icon>home</mat-icon>-->
<!--</button>-->
<div class="subheader__buttons">
  <button routerLink='/match' mat-flat-button class="subheader__button subheader__button--match">MATCH</button>
  <button routerLink='/player' mat-flat-button class="subheader__button subheader__button--player">PLAYER</button>
  <button routerLink='/team' mat-flat-button class="subheader__button subheader__button--team">TEAM</button>
</div>
<router-outlet></router-outlet>

