@import '../../styles/_variables.scss';

//:host {
//  display: flex;
//  background: linear-gradient(to left, #f6865580, #61c3592e);
//}

.subheader {
  &__buttons {
    display: flex;
    height: 5rem;
    align-items: center;
  }

  &__button {
    flex-basis: 0;
    flex-grow: 1;
    height: 100%;

    border-radius: 0;

    background: $color-tertiary;

    display: flex;
    justify-content: center;
    align-items: center;

    &--clicked {
      background: #29292f;
      color: $color-tertiary;
      font-weight: bold;
    }


    font-size: $font-size-section-header;

  }

  &__button:not(:last-child) {
    border-right: 1px solid;
  }
}
