<h2 class="search__title u-margin-bottom-big u-margin-top-big">SEARCH</h2>
<app-filter class="u-margin-bottom-large hidden"></app-filter>
<div class="results">
  <h2 class="results__title u-margin-top-medium u-margin-bottom-small">
    Results

    <button mat-raised-button (click)="toggleFilter()">Filters
      <mat-icon>filter_list</mat-icon>
    </button>
  </h2>
  <div class="results__container">
    <div class="result">
      <h3 class="result__title  u-margin-bottom-small">Match</h3>
      <div class="result__list mat-elevation-z8">
        <table mat-table [dataSource]="matches">

          <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let item"> <button mat-button routerLink="/match" (click)="hideSearch()"> {{item.item}} </button> </td>
            <td mat-footer-cell *matFooterCellDef> Match </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
    <div class="result u-margin-bottom-small">
      <h3 class="result__title u-margin-bottom-small">Player</h3>
      <div class="result__list mat-elevation-z8">
        <table mat-table [dataSource]="players">

          <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let item"> {{item.item}} </td>
            <td mat-footer-cell *matFooterCellDef> Player </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>

    <div class="result">
      <h3 class="result__title  u-margin-bottom-small">Team</h3>
      <div class="result__list mat-elevation-z8">
        <table mat-table [dataSource]="teams">

          <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let item"> {{item.item}} </td>
            <td mat-footer-cell *matFooterCellDef> Match </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
