@import '../../styles/_variables.scss';

:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 6rem;

  background: $color-grey;
  color: $color-light;
}

.search__title {
  font-size: $font-size-header;
}
.results {
  &__title {
    font-size: $font-size-header-secondary;
    text-align: left;
    padding-left: 2rem;
    border-bottom: 1px solid;
  }

  &__container {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 3rem;
  }
}

.result {
  padding: 1rem;
  background: $color-grey;

  &__title {
    font-size: $font-size-header-tertiary;
    font-weight: normal;
  }

  &__list {
    height: 30rem;
    overflow: auto;
    background: $color-grey;
  }
}

table {
  width: 100%;
  min-width: 30rem;
  background: $color-grey;
}

tr.mat-row {
  background: $color-grey;
}

tr.mat-footer-row {
  font-weight: bold;
}

tr.mat-header-row {
  height: 0;
}

.mat-cell {
  color: white;
}

.result__list {
  box-shadow: none;
}
