<div class="match-injuries">
  <div class="title">
    Injuries
  </div>
  <div class="container-injuries">
    <div class="column-left">
        <div class="injury-left">
          <img src="../../../assets/img/injuries/injuries.png" height="250" alt="">
          <div>N'Golo Kante</div>
        </div>
      <div class="injury-right">
        <img src="../../../assets/img/injuries/injuries2.png" height="250" alt="">
        <div>Robert Lewandowski</div>
      </div>
    </div>
    <div class="column-right">
      <img src="../../../assets/img/injuries/injuries3.png" alt=""  width="220" height="250">
      <div>Christiano Ronaldo</div>
    </div>
  </div>
</div>
