<div class="injuries__header">Injuries</div>
<div class="injuries__container">
  <div class="injuries__panel--left">
    <div class="injuries__player">
      <img src="../../../assets/img/injuries/injuries.png" alt="" class="injuries__img">
      <span>N'Golo Kante</span>
    </div>
    <div class="injuries__player">
      <img src="../../../assets/img/injuries/injuries2.png" alt="" class="injuries__img">
      <span>Robert Lewandowski</span>
    </div>
  </div>
  <div class="injuries__panel--right">
    <div class="injuries__player">
      <img src="../../../assets/img/injuries/injuries3.png" alt="" class="injuries__img">
      <span>Christiano Ronaldo</span>
    </div>
  </div>
</div>
