@import '../_variables.scss';

body {
  padding: 0 3rem 0 3rem;
  letter-spacing: 1.1px;
  color: $color-tertiary;
  background: $color-background;
  font-family: 'Nunito', sans-serif;

  @include respond(phone) {
    padding: 0;
  }
}

.container {
  padding: 0 3rem;
  background: $color-background;

  @include respond(phone) {
    padding: 0;
  }
}
